@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Produtos";
}
<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Imagem</th>
            <th scope="col">Produto</th>
            <th scope="col">Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><img src="https://d1sfzvg6s5tf2e.cloudfront.net/Custom/Content/Products/44/01/4401_cel-iphone-13-128g-mlpj3bra-vermelho_m7_638254641476211788.jpg"  height="60px" width="60px"/></td>
            <td>iPhone X</td>
            <td>R$ 9.999.999,99</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><img src="https://cdn.awsli.com.br/600x1000/2557/2557636/produto/229188332/p048910_3-3y553burz6.jpg" height="60px" width="60px" /></td>
            <td>iPad XXX</td>
            <td>R$ 999.999.999,99</td>
        </tr>
    </tbody>
</table>