@{
    ViewData["Title"] = "Enunciado do Projeto";
}
<h1>@ViewData["Title"]</h1>

<p>
    Criar um novo projeto MVC web ASP.NET core<br /><br />

    Projeto = SisCad<br /><br />

    ele vai ter no menu:<br />
    - home<br />
    - clientes - Tabela (id - nome - telefone -email<br />
    - Produtos, uma tabela (id - imagem - Produto - Preço
</p>